WC_URL=http://woosync-demo-store.local/
WC_CONSUMER_KEY=ck_your_actual_key_here
WC_CONSUMER_SECRET=cs_your_actual_secret_here

SUPABASE_URL=https://humbbzfoskjuaehikvgt.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh1bWJiemZvc2tqdWFlaGlrdmd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2NzI1NzksImV4cCI6MjA5MDI0ODU3OX0._4ioknQzXNAqMW1KmINJgBvIvqoXRzYQPNaKd_lAZPU
NGROK_URL=https://xxxx.ngrok.io
